@model MvcDbStok.Models.Entity.MUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(x => x.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MUSTERIAD, "", new { @style = "color:red" })
    </div>
    <br />
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert("Müşteri Eklendi!");
        });
    </script>
</form>
