@using MvcDbStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<KATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.KATEGORIID</th>
                <td>@item.KATEGORIAD</td>
                <td><a href="/Category/Sil/@item.KATEGORIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Category/KategoriGetir/@item.KATEGORIID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new { page}))

<a href="/Category/YeniKategori/" class="btn btn-info">Yeni Kategori</a>
